@require 'cozy-ui/build'
@require './nav.css'
@require './lessons'
@require './player'

.app-content
    margin 1rem 0 2rem 2rem
    height: 100%

.modale-container
    height: 100%
    width: 100%

.modale-container > div:first-child
    height: 100%
