
.lessons-header
  margin-bottom: 2rem
  background-color: frenchPass
  flex-grow: 0
  flex-shrink: 0
  flex-basis:auto

.lessons-list
  flex-grow: 1
  flex-shrink: 1
  flex-basis:auto
  min-height: 0

.class-course
  display:flex
  flex-wrap: wrap

.class-course-title
  background-color: frenchPass

.class-course-title
  width: 100%

.lesson
  width: 14rem
  height: 17rem
  margin: 1rem
  border: 1px solid var(--silver)
  border-radius: 4px
  background-color: var(--paleGrey)
  background-color: var(--frenchPass)
  box-shadow: rgba(0,0,0,0.1) 0 1px 2px
  display: flex
  flex-direction: column

.lesson:hover
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2)
  cursor: pointer

.lesson-editor
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.lesson-runner
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
